* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Circular Std', sans-serif;
    font-size: 14px;
    color: white;
}

/* GENERAL */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.clearfix {
    content: '';
    display: table;
    clear: both;
}
.circle {
    border-radius: 50%;
    overflow: hidden;
}
/* FINE GENERAL */

main {
    height: calc(100% - 80px);
}
.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #141922;
}

/* MENU NAVIGATORE DI SINISTRA */
.nav_main a {
    color: #717171;
    font-weight: bold;
}
.nav_main a:hover, .content_menu a:hover {
    color: #ffffff;
}
.nav_main {
    float: left;
    background-color: black;
    width: 220px;
    height: 100%;
    overflow: hidden;
}

/* LOGO SMART PER RESPONSIVE */
#logo_smart {
    display: none;
    width: 40px;
    height: 60px;
    margin: 0 auto;
    padding-top: 10px;
}
#logo_smart img {
    width: 100%;
}

/* PARTE LOGO E MENU SUPERIORE */
#logo {
    width: 160px;
    height: 80px;
    line-height: 80px;
    margin-left: 15px;
}
#logo img {
    width: 100%;
    vertical-align: middle;
}
.nav_menu {
    height: 110px;
}
.nav_menu img {
    height: 25px;
    filter: opacity(.5);
    margin-right: 10px;
}
.vert_selected {
    border-left: 3px solid #adff2f;
}
.nav_menu .vert_selected img {
    filter: opacity(1);
}
.nav_menu ul li {
    padding: 5px 12px;
}
.nav_menu ul li:not(.vert_selected) {
    border-left: 3px solid transparent;
}
.nav_menu .vert_selected a {
    color: #ffffff;
}
.nav_menu a {
    display: flex;
    align-items: center;
}
.nav_menu a:hover img {
    filter: opacity(1);
}

/* PARTE MENU PLAYLIST */
.nav_playlist a:hover i {
    background-color: #ffffff;
}
.nav_playlist {
    height: 70px;
}
.nav_playlist, .playlist {
    padding-left: 15px;
}
.nav_playlist h3 {
    text-transform: uppercase;
    padding-bottom: 10px;
}
.nav_playlist i {
    font-size: 20px;
    padding: 7px;
    color: black;
    background-color:  #a3a3a3;
}
.playlist {
    height: calc(100vh - 260px - 160px); /* SOTTRAGGO ALL'ALTEZZA TOTALE LE HEIGHT DI LOGO NAV MENU, NAV PLAYLIST E NAV USER */
    min-height: 110px;
    overflow-y: auto;
}
.playlist li {
    padding: 10px 0;
}

/* MENU USER INFERIORE */
.nav_user {
    height: 80px;
    padding: 10px 15px;
    position: relative;
    background-color: black;
    overflow: hidden;
}
.nav_user img {
    width: 20px;
    margin-right: 10px;
    filter: opacity(.5);
    vertical-align: middle;
}
.nav_user a:hover img {
    filter: opacity(1);
}
.install_app {
    border-bottom: 1px solid #717171;
    padding-bottom: 10px;
}
#profile {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.profile_img {
    width: 24px;
    margin-right: 10px;
    border-radius: 100%;
    padding: 0 2px;
    background-color: #808080;
    overflow: hidden;
}
.profile_img img {
    width: 100%;
}

/* CONTENUTO DEL MAIN */
.content_main {
    float: left;
    width: calc(100% - 220px);
    height: 100%;
    overflow-y: auto;
}
.content_menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 25px;
    padding-top: 80px; /* PER DARE SPAZIO ALLA BARRA SUPERIORE */
}
.menu_item {
    position: relative;
    margin: 20px 0;
}
.content_main p {
    color: #7d7f84;
}
.content_menu a {
    text-transform: uppercase;
    color: #7d7f84;
    font-weight: bold;
    padding: 0 15px;
}
.content_menu .horiz_selected:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 35px;
    background-color: #adff2f;
}
#recently, #created_for, #popular_artist {
    padding: 0 0 20px 20px;
}
#recently h1 {
    padding-top: 20px;
}
.main_items {
    width: 100%;
    display: flex;
    padding: 30px 0;
}
#recently .main_items {
    justify-content: space-between;
}
.item {
    width: 200px;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
}
.item_overlay {
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.item:hover .item_overlay {
    opacity: 0.4;
}
.album_img {
    position: relative;
}
.item_play {
    display: none;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item:hover .item_play {
    display: block;
}
.item h4 {
    padding: 10px 0;
}
.album_img img {
    display: block;
    width: 100%;
}
#created_for h1, #popular_artist h1 {
    padding: 10px 0;
}

/* FOOTER */
footer {
    background-color: #282828;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
.footer_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* PARTE SONG NAME DI SINISTRA*/
.song_name {
    display: flex;
    align-items: center;
}
.song_name .icon {
    width: 50px;
    margin: 0 10px;
}
.song_name .description p, .font_icon i {
    color: #717171;
    cursor: pointer;
}
.song_name .description p {
    font-size: 0.8em;
}
.song_name .description p:hover {
    text-decoration: underline;
}
.song_name .icon img {
    width: 100%;
}
.song_name .font_icon {
    display: flex;
    padding: 10px;
}
.song_name .font_icon i:hover, .song_name .description p:hover {
    color: white;
}
.song_name .font_icon i {
    font-size: 15px;
    padding: 5px;
}
/* PARTE PLAYER CENTRALE */
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player_top {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.player_top i {
    font-size: 15px;
    cursor: pointer;
}
.player_top i.fa-play-circle {
    font-size: 30px;
}
.player_top i.fa-play-circle:hover {
    transform: scale(1.2);
}
.start_time, .end_time {
    font-size: 0.8em;
    padding: 0 10px;
}
.player_bottom {
    display: flex;
    align-items: center;
    width: 40vw;
}
.player_bottom .start_time::before {
    content: '0:25';
}

/* BARRA DI SCORRIMENTO */
.bar_total {
    content: '';
    width: 90%;
    border-top: 6px solid #717171;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
}
.bar_active {
    content: '';
    width: 30%;
    border-top: 6px solid #c1c1c1;
    border-radius: 6px;
    position: absolute;
    top: -6px;
    left: 0;
}
.bar_active::after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #c1c1c1;
    position: absolute;
    bottom: -5px;
    right: -5px;
    display: none;
}
.bar_total:hover .bar_active {
    border-top: 6px solid #adff2f;
}
.bar_total:hover .bar_active::after {
    display: block;
}
.player_bottom .end_time::before {
    content: '4:35';
}

/* PARTE AUDIO */
.audio {
    display: flex;
    align-items: center;
}
.audio .audio_icon {
    display: flex;
}
.audio .audio_icon i {
    font-size: 12px;
    color: white;
    padding: 0 10px;
    display: flex;
    cursor: pointer;
}
.sound_bar {
    width: 70px;
}

/* BARRA SUPERIORE OVERLAY */
.top_overlay {
    width: 100%;
    height: 80px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 220px;
    width: calc(100% - 220px);
    opacity: 0.5;
}
.upgrade {
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    right: 40px;
}
.upgrade:hover {
    transform: scale(1.2);
}

/* SCROOLBAR */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #141922;
}
.playlist::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-color: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

/* MEDIA QUERY */
@media screen and (min-width: 1920px) {
    .item {
        width: 270px;
    }
}
@media screen and (max-width: 1439px) {
    .item {
        width: 150px;
    }
}
@media screen and (max-width: 991px) {
    .main_items {
        flex-wrap: wrap;
    }
    #recently .main_items {
        justify-content: flex-start;
    }
}
@media screen and (max-width: 767px) {
    .item {
        min-width: calc(100% / 2);
    }
}
@media screen and (max-width: 600px) {
    #logo_smart {
        display: block;   
    }
    .nav_main {
        width: 50px;
    }
    #logo, .nav_playlist, .nav_menu span, .playlist, .nav_user .install_app span, .nav_user h3 {
        display: none;
    }
    .nav_menu ul li:not(.vert_selected), .nav_menu ul li {
        border-left: none;
    }
    .install_app {
        border-bottom: none;
    }
    .nav_user .profile_img, .nav_user .install_app img{
        margin: 0;
    }
    .nav_menu {
        height: calc(100vh - 220px); /* SOTTRAGGO ALTEZZA LOGO SMART E NAV USER */
        min-height: 110px;
    }
    .content_main {
        width: calc(100% - 50px);    
    }
    .top_overlay {
        left: 50px;
        width: calc(100% - 50px);
    }
    .song_name .font_icon {
        flex-direction: column;
    }
    .player_top {
    width: 150px;
    }
}
/* MEDIA QUERY PER FAR SPARIRE IL BOTTONE DI UPGRADE */
@media screen and (max-width: 600px) and (max-height: 400px) {
    .upgrade {
        display: none;
    }
}
@media screen and (max-width: 390px) {
    .item {
        min-width: 100%;
    }
}
