* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Circular Std', sans-serif;
    font-size: 14px;
    color: white;
}
/* general */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.clearfix {
    content: '';
    display: table;
    clear: both;
}
.circle {
    border-radius: 50%;
    overflow: hidden;
}
/* fine general */
main {
    height: calc(100% - 80px);
}
.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #141922;
}
.nav_main a {
    color: #717171;
    font-weight: bold;
}
.nav_main a:hover, .content_menu a:hover {
    color: #ffffff;
}
.nav_main {
    float: left;
    background-color: black;
    width: 220px;
    height: 100%;
    overflow: hidden;
}
.nav_top {
    height: calc(100% - 80px);
    min-height: 380px;
}
#logo {
    width: 160px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
#logo img {
    width: 100%;
}
.nav_menu img {
    height: 25px;
    filter: opacity(.5);
    margin-right: 10px;
}
.vert_selected {
    border-left: 3px solid #adff2f;
}
.nav_menu .vert_selected img {
    filter: opacity(1);
}
.nav_menu ul li {
    padding: 5px 12px;
}
.nav_menu ul li:not(.vert_selected) {
    border-left: 3px solid transparent;
}
.nav_menu .vert_selected a {
    color: #ffffff;
}
.nav_menu a {
    display: flex;
    align-items: center;
}
.nav_playlist a:hover i {
    background-color: #ffffff;
}
.nav_menu a:hover img {
    filter: opacity(1);
}
.nav_playlist {
    padding: 20px 0 20px 15px;
}
.nav_playlist h3 {
    text-transform: uppercase;
    padding-bottom: 10px;
}
.nav_playlist i {
    font-size: 20px;
    padding: 7px;
    color: black;
    background-color:  #a3a3a3;
}
.nav_playlist ul {
    overflow-y: scroll;
}
.nav_playlist ul li {
    padding: 10px 0;
}
.nav_user {
    height: 80px;
    padding: 10px 15px;
    position: relative;
    background-color: black;
    overflow: hidden;
}
.nav_user img {
    width: 20px;
    margin-right: 10px;
    filter: opacity(.5);
    vertical-align: middle;
}
.nav_user a:hover img {
    filter: opacity(1);
}
.install_app {
    border-bottom: 1px solid #717171;
    padding-bottom: 10px;
}
#profile {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.profile_img {
    width: 24px;
    margin-right: 10px;
    border-radius: 100%;
    padding: 0 2px;
    background-color: #808080;
    overflow: hidden;
}
.profile_img img {
    width: 100%;
}
.content_main {
    float: left;
    width: calc(100% - 220px);
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}
.content_menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 25px;
}
.menu_item {
    position: relative;
    margin: 20px 0;
}
.content_main p {
    color: #7d7f84;
}
.content_menu a {
    text-transform: uppercase;
    color: #7d7f84;
    font-weight: bold;
    padding: 0 15px;
}
.content_menu .horiz_selected:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 35px;
    background-color: #adff2f;
}
#recently h1 {
    padding-top: 20px;
}
.main_items {
    width: 100%;
    display: flex;
    padding: 30px 0;
}
#recently .main_items {
    justify-content: space-between;
}
.item {
    width: 200px;
    padding-right: 20px;
    text-align: center;
}
.item h4 {
    padding: 10px 0;
}
.album_img img {
    width: 100%;
}
#created_for h1, #popular_artist h1 {
    padding: 10px 0;
}
footer {
    background-color: #282828;
    height: 80px;
    width: 100%;
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Media queries */
@media screen and (min-width: 1920px) {
    .item {
        width: 270px;
    }
}
@media screen and (max-width: 1439px) {
    .item {
        width: 150px;
    }
}
@media screen and (max-width: 991px) {
    .main_items {
        flex-wrap: wrap;
    }
    #recently .main_items {
        justify-content: flex-start;
    }
}
@media screen and (max-width: 767px) {
    .item {
        min-width: calc(100% / 2);
    }
}
@media screen and (max-width: 600px) {
    .nav_main {
        width: 50px;
    }
    .nav_top #logo, .nav_playlist, .nav_menu span, .nav_user .install_app span, .nav_user h3 {
        display: none;
    }
    .nav_menu ul li:not(.vert_selected), .nav_menu ul li {
        border-left: none;
    }
    .install_app {
        border-bottom: none;
    }
    .nav_user .profile_img, .nav_user .install_app img{
        margin: 0;
    }
    .content_main {
        width: calc(100% - 50px);    
    }
}
@media screen and (max-width: 390px) {
    .item {
        min-width: 100%;
    }
}